*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 95vw;
    height: 100vh;
    background-color: hsl(0, 100%, 74%);
    margin: 0 3vw;
}

.container {
    width: 80vw;
}

.titulo-principal {
    color: #ffffff;
    font-size: 1.8em;
    font-weight: 700;
}
.texto-principal{
    color: #ffffff;
    font-weight: 500;
    padding: 10px 0;
}
.caixa-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}

.caixa-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bnt-assinatura {
    border: none;
    border-radius: 15px;
    background-color: hsl(248, 32%, 49%);
    color: #ffffff;
    padding: 20px 35px;
    box-shadow: 4px 5px hsla(249, 10%, 26%, 0.493);
    font-size: 0.8em;
    margin: 10px 0;
}

.formalario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 10px;
    gap: 20px;
    margin: 30px 0;
    border-radius: 10px;
}

.input-form {
    border-color: hsl(246, 25%, 77%);
    border-radius: 5px;
    color: hsl(249, 10%, 26%);
    font-size: 0.8em;
    font-weight: 700;
    padding: 10px 20px;
}

.bnt-form {
    background-color: hsl(154, 59%, 51%);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    box-shadow: 2px 3px hsl(154, 57%, 43%);
    font-weight: 600;
}
.bnt-form:hover {
    filter: opacity(70%);
}

.texto-form {
    color: hsl(246, 25%, 77%);
    font-size: 0.8em;
    text-align: center;
}

.terms {
    color: hsl(0, 100%, 74%);
    font-size: 0.9em;
}

@media screen and (min-width:800px) {
    body{
        background-image: url(../images/bg-intro-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .titulo-principal {
        font-size: 2.8em;
    }

    .texto-principal{
        font-size: 1.1em;
    }

    .caixa-texto{
        width: 30vw;
        text-align: left;
    }
    
    .caixa-formulario {
        width: 40vw;
    }
    
    .formalario {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        padding: 30px 40px;
        gap: 30px;
    }
    
    .input-form {
        padding: 15px 20px;
    }
}