*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(../images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 100%, 74%);
    margin: 0 3vw;
}

.titulo-principal {
    color: #ffffff;
    font-size: 2em;
    font-weight: 700;
}
.texto-principal{
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
}
.caixa-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}






.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}